* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; color: #0D0D0D;
}

body {
    background-color: #0D0D0D;
}

heading {
    background-color: #0D0D0D;
}

main {
    background-color: #D9D9D9;
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 5px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 5px;
}







/* ANIMAÇÕES

/* ANIMAÇÃO DO TEXTO DA ABA PROJETOS 
        @keyframes typing {
            from { width: 0; }
            to { width: 100%; }
        }

        @keyframes blink {
            50% { border-color: transparent; }
        }

        .text {
        color: white;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 50px;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        border-right: 2px solid white;
        animation: typing 5s steps(4, end), blink 0.5s step-end infinite;
        }