* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #0D0D0D;
 }

body {
    min-width: 600;
    max-width: 1024;
    margin: 0;
}

header {
    display: flex;
    width: auto;
    height: 80px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #0D0D0D;
}

header .logo img {
    display: flex;
    height: 60px;
    justify-content: left;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

header .navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 25px;
}

header .navbar ul li {
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 15px;
}

header .navbar ul li a {
    display: flex;    
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-color:rgba(0, 0, 0, .3);
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 15px 5px;
}

header .navbar ul li a:hover {
    scale: 1.3;
    background-color:rgba(255, 255, 255, 0.2);
    border: 1px solid #3b3b3b;
}

/*
.nav-bar {
    background-image: url('ProjetoCSS-inicio/imagens/bg-3.jpg');
    background-size: cover;
    background-position: right center;
}
*/

/* ======================================================== */

main {
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #eee;
}

.container-about ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    width: 1024px;
    height: 500px;
    background-color: #fff;
    margin: 0px 50px;
}

.about__content li {
    width: 1024px;
    height: max-content;
    margin: 25px;
    background-color: #eee;
    border: 1px solid #3b3b3b;
    border-radius: 25px;
    box-shadow: 0px 2px 5px #3b3b3b;
}

.about__title h1 {
    font-size: 45px;
    width: 400;
    padding: 15px;
    margin: 15px 15px 0 15px;
    border-radius: 15px 15px 0 0;
    background-color: #d9d9d9;
}

.about__subtitle h2 {
    font-size: 30px;
    width: 400;
    padding: 0 15px 15px 15px;
    margin: 0px 15px 15px 15px;
    border-radius: 0 0 15px 15px;
    background-color: #d9d9d9;
}

.about__bio p {
    font-size: 20px;
    width: 600px;
    padding: 15px;
    margin: 0px 15px 15px 15px;
    border-radius: 15px;
    background-color: #d9d9d9;
}

.about__image img {
    display: inline;
    margin: 25px 25px 25px 20px;
}

/* ======================================================== */

.container-formation {
    list-style-type: none;
    width: 1024px;
    height: 500px;
    background-color: #fff;
    margin: 100px 50px;
}

.formation__content {
    width: 1024px;
    height: max-content;
    margin: 25px;
    background-color: #eee;
    border: 1px solid #3b3b3b;
    border-radius: 25px;
    box-shadow: 0px 2px 5px #3b3b3b;
}


.formation__title h3 {
    font-size: 25px;
    width: 400;
}

.formation__bio p {
    font-size: 20px;
    width: 600px;
    padding: 15px;
    margin: 0px 15px 15px 15px;
    border-radius: 15px;
    background-color: #d9d9d9;
}

/* ======================================================== */

.skills {
    flex-wrap: wrap;
    flex-direction: row ;
    height: 350px;
    min-width: 500px;
    max-width: 1024px;
    background-color: #eee;
    border: 1px solid #3b3b3b;
    border-radius: 25px;
    box-shadow: 0px 2px 5px #3b3b3b;
}


/* ======================================================== */

.projects {
    flex-wrap: wrap;
    flex-direction: row ;
    height: 350px;
    min-width: 500px;
    max-width: 1024px;
    background-color: #eee;
    border: 1px solid #3b3b3b;
    border-radius: 25px;
    box-shadow: 0px 2px 5px #3b3b3b;
}
